ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
.ddress {
  font-style: normal;
}
/* -----------header---------- */
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}
.header-logo-italic {
  font-style: italic;
}
.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}
.header-menu-link:hover {
  color: #fd9222;
}
/* -----------header---------- */
/* ------------section hero-------------- */
.hero {
  background-color: #1e1823;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
button {
  cursor: pointer;
}
.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
}
.hero-btn:hover {
  background: #fcf1e0;
  color: #fd9222;
}

.hero-anchor-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.hero-anchor-link:hover {
  color: #fd9222;
  background-color: #fafafa;
}
.hero-anchor-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
}
/* ------------section hero-------------- */
/* ------------section features-------------- */
.features {
  background-color: #1e1823;
}
.features-list {
}
.features-list-item {
}
.features-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.features-list-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ------------section features-------------- */
/* ------------section taste -------------- */
.taste {
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.taste-title-span {
  color: #fd9222;
}
.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.taste-list {
}

.taste-item {
}

.taste-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
/* ------------section taste -------------- */
/* ------------section MADE -------------- */
.made {
}
.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.made-title-span {
  color: #fd9222;
}
.made-title-image {
}
.made-title-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}
.made-title-list {
}
.made-title-item {
}
.made-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
}
/* ------------section MADE -------------- */
/* ------------section revious -------------- */
.revious {
}
.revious-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
}
.revious-title-span {
  color: #111;
}
.revious-list {
}
.revious-item {
}
.revious-image {
}
.revious-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.revious-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.revious-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: #fafafa;
}
.revious-btn:hover {
  color: #fff;
  background: #fd9222;
}
/* ------------section revious -------------- */
/* ------------section footer -------------- */
.footer {
  background: #1e1823;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fd9222;
}
.footer-title-span {
  color: #fff;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fff;
}
.footer-address {
}
.footer-list {
}
.footer-item {
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
/* ------------section footer -------------- */
